* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --linen: #f3e9dd;
  --dark-peach: #f67e70;
  --light-peach: #f9b2aa;
  --dark-gray: #363638;
  --light-teal: #267b7e;
  --dark-teal: #1a535c;
  --special-light-teal: #1e5f62;
  --special-dark-teal: #154249;
  --sun-size: 6rem;
  --font-numbers: "Righteous", sans-serif;
  --font-text: "Quattrocento Sans", sans-serif;
}

body {
  background: var(--linen);
  width: 100vw;
  height: 100vh;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-family: var(--font-text);
  font-weight: 700;
}
main {
  position: relative;
  border: 1px solid red;
}

.sun {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: var(--dark-peach);
  height: var(--sun-size);
  width: var(--sun-size);
  top: 5vh;
  left: 15vw;
  z-index: -10;
}

/* .sun::after {
    background: var(--linen);
    transform: translateX(30px);
} */
.center-text {
  text-align: center;
  margin-top: 25vh;
  color: var(--dark-gray);
}

.info {
  font-family: var(--font-text);
  font-weight: 700;
}
.countdown {
  font-size: 4rem;
  font-family: var(--font-numbers);
}

/* Mountains */

.mountain1 {
  position: fixed;
  content: " ";
  bottom: 0;
  left: 100px;
  border-top: 0px solid transparent;
  border-right: 180px solid transparent;
  border-bottom: 370px solid var(--special-light-teal);
  border-left: 180px solid transparent;
  z-index: 5;
}

.mountain1::after {
  position: fixed;
  content: " ";
  bottom: 0;
  left: 280px;
  border-top: 0px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 370px solid var(--special-dark-teal);
  border-left: 0px solid transparent;
  z-index: 5;
  transform-origin: top right;
  transform: skewX(20deg);
}

.mountain2 {
  position: fixed;
  content: " ";
  bottom: 0;
  left: -100px;
  border-top: 0px solid transparent;
  border-right: 220px solid transparent;
  border-bottom: 270px solid var(--light-teal);
  border-left: 220px solid transparent;
  z-index: 7;
}

.mountain2::after {
  position: fixed;
  content: " ";
  bottom: 0;
  left: 120px;
  border-top: 0px solid transparent;
  border-right: 130px solid transparent;
  border-bottom: 270px solid var(--dark-teal);
  border-left: 0px solid transparent;
  z-index: 7;
  transform-origin: top right;
  transform: skewX(20deg);
}

.mountain3 {
  position: fixed;
  content: " ";
  bottom: 0;
  right: -50px;
  border-top: 0px solid transparent;
  border-right: 180px solid transparent;
  border-bottom: 330px solid var(--light-teal);
  border-left: 180px solid transparent;
  z-index: 6;
}

.mountain3::after {
  position: fixed;
  content: " ";
  bottom: 0;
  right: -50px;
  border-top: 0px solid transparent;
  border-right: 180px solid transparent;
  border-bottom: 330px solid var(--dark-teal);
  border-left: 0px solid transparent;
  z-index: 6;
  transform-origin: top right;
  transform: skewX(15deg);
}
