* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --linen: #F3E9DD;;
    --dark-peach: #F67E70;
    --light-peach: #F9B2AA;
    --dark-gray: #363638;
    --light-teal: #267B7E;
    --dark-teal: #1A535C;
    --special-light-teal: #1E5F62;
    --special-dark-teal: #154249;
    --sun-size: 6rem;
    --font-numbers: 'Righteous', sans-serif;
    --font-text: 'Quattrocento Sans', sans-serif;
}

body {
    background: var(--linen);
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-family: var(--font-text);
    font-weight: 700;
}
main {
    position: relative;
    border: 1px solid red;
}

.sun {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: var(--dark-peach);
    height: var(--sun-size);
    width: var(--sun-size);
    top: 5vh;
    left: 15vw;
    z-index: -10;
}

/* .sun::after {
    background: var(--linen);
    transform: translateX(30px);
} */
.center-text {

    text-align: center;
    margin-top: 25vh;
    color: var(--dark-gray);
    
}

.info {
    font-family: var(--font-text);
    font-weight: 700;
}
.countdown {
    font-size: 4rem;
    font-family: var(--font-numbers);
}

